table
{
    

  text-align:center; 
  width:80%; 
  margin: 0px auto; 
    
}
th{
   min-width:100px;
    font-weight: 400;
    font-style: inherit;
    border: 1px solid white;
    text-align: center;
    font-size:small;
     background-color: rgb(51, 151, 93);
}
td{
   
    font-weight: 400;
    font-style: inherit;
    border: 1px solid white;
    text-align: center;
}

@media screen and (max-width: 900px) {
    table
    {
        scroll-behavior: auto;
    }
  }