#bodydiv

    {
        border:1px solid gainsboro;
        height: auto;
        max-width: 100%;
        min-width: 80%;
        margin:0px auto;

        box-shadow: 1px 1px 5px 5px gray;
        text-align: center;
        }


#formdiv
{

    border: 0px solid white;
    margin:0px auto;
    margin-top:30px;
    width: 70%;
    
    
}
input{
    margin:0px auto;
}
#finput
{

    width:35%;
    

}
#uninput
{
    position: relative;
    float: left;
    width: 35%;
    margin-left: 70px;
    

}


@media screen and (max-width: 900px) {
    #formdiv {
      width:100%;

    }
    #finput
    {
        width:50%;

    }
    #uninput
    {
        width:50%;
        margin:0px auto;
    }
  }