<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__wobble" src="assets/img/AdminLTELogo.png" alt="Logo Here" height="60" width="60">
    </div>
  
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-dark">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="./industry" class="nav-link">Industry</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>
  
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <Button class="btn btn-danger" (click)="onlogout()">Logout</Button>
      </ul>
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link align-items-center">
        <h2  class="ml-3">Faces2Hire</h2>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-4 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <i class="d-block" style="font-size: 20px; margin-top: 5px;">{{username}}</i>
          </div>
        </div>
  
        <!-- SidebarSearch Form -->
        
  
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item menu-open">
             
              <ul class="nav nav-treeview">
                
                <li class="nav-item">
                  <a href="./dashboard" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./roles" class="nav-link ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Roles</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./user" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Users</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./categories" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Categories</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./degree" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Degree</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./intrest" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Intrest</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./major" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Major</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./skill" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Skill</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./industry" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Industry</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./industrytype" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>IndustryType</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./faq" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Faq</p>
                  </a>
                </li>

  
  
  
              </ul>
            </li>
            
            
    
         
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Industry </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="./industry">Industry</a></li>
                <li class="breadcrumb-item active">Industry Home</li>
              </ol>
              
            </div><!-- /.col -->
         <div class="col-sm mt-4 " id="maindiv">
        <h2 class="mt-4" >CREATE NEW INDUSTRY</h2>
        <div class="alert alert-success" *ngIf="message" >Successfully Industry Created<button class="alert alert-success" id="x"(click)="removemessage()">X</button> </div>
        <form #industry ="ngForm"(ngSubmit)="onSubmit(industry.value)">
          <input type="text" class="form-control" name="industryName" placeholder="Write Industry Name" required ngModel><br>
          <input type="text" class="form-control" name="industryDescription" placeholder="Write Industry Description..." required  ngModel><br>
          <select name="industryType" class="form-control" ngModel id="" style="width:80%; margin: 0px auto;">
            <option value="">Select Industry Type</option>
            <option  value="{{item._id}}" *ngFor="let item of intypedatasend.data">{{item.typeName}}</option>
          </select>
          <input type="hidden" class="form-control" name="createdBy" required  [(ngModel)]="userid" value="userid"><br>
          
          <input type="submit" class="btn btn-secondary mb-4" value="Create"><br>
        </form>


            
         </div>
        
          </div><!-- /.row -->
         <br>
         <app-getindustrydata></app-getindustrydata>
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
          <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2014-2021 Faces2hire</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        
      </div>
    </footer>
  </div>
 
  
