<h1 style="text-align:center ;">Faq DataTable</h1><br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Faq Question</th>
            <th>Faq Answer</th>
            <th>Faq VideoUrl</th>
            <th>Faq VideoName</th>
            <th>Faq Category</th>
            <th>Faq Createdby</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of faq.data">
    
        <td>{{item.faqQuestion}}</td>
        <td>{{item.faqAnswer}}</td>
        <td>{{item.faqVideoUrl}}</td>
        <td>{{item.faqVideoName}}</td>
        <td>{{item.faqCategory}}</td>
        <td>{{item.createdBy}}</td>
    </tr>
</tbody>
</table>

