<h1 style="text-align:center ;">FaqCategory DataTable</h1><br>
<table class="table table-striped" style=" border-radius:5px;text-align:center; width:80%;  margin: 0px auto; color:black; background-color:rgb(199, 199, 199)">
    <thead>
        <tr style="font-size:medium; color:rgb(21, 97, 184);"  >
            <th>Faq Category Name</th>
            <th>Faq Category Note</th>
            <th>Faq Code</th>
        
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of faqcate.data">
    
        <td>{{item.faqCatName}}</td>
        <td>{{item.faqCatNote}}</td>
        <td>{{item.faqCode}}</td>

    </tr>
</tbody>
</table>

